* {
    box-sizing: border-box;
}

.AddEmployee {
    height: 100vh;
    background-color: rgb(194, 192, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Empform {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid green;
    background-color: rgb(78, 96, 199);
    border-radius: 10px;
}
.EmpFormInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.EmpDet{
    display: flex;
    align-items: center;
    justify-content: center; 
}
input {
    padding: 10px;
    margin-left: 10px;
    width: 70%;
    margin-bottom: 10px;
    border-radius: 20px;
}
button{
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
}
button:hover{
    padding: 15px;
    border: 1px solid white;
    background-color: black;
    color: azure;  
}
/* file upload component */
.fileUpload{
display: flex;
align-items: center;
justify-content:center;
margin-top: 10px;
}
.fileUpload_input{
    width: 30%;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
}
.fileUpload_button{
    padding: 5px;
    border: 1px solid black;
    background-color: white;
    color: black;
}
.fileUpload_button:hover{
    padding: 5px;
    border: 1px solid white;
    background-color: black;
    color:  white;
}